# The Pandas Series object

## Challenge 1.
Suppose that you’re given these two data structures:

In [1]:
superheroes = [
"Batman",
"Superman",
"Spider-Man",
"Iron Man",
"Captain America",
"Wonder Woman"
]
strength_levels = (100, 120, 90, 95, 110, 120)

## Here are your challenges:
1.  Use the list of superheroes to populate a new Series object.
2.  Use the tuple of strengths to populate a new Series object.
3.  Create a Series with the superheroes as index labels and the strength levels as the values. Assign the Series to a heroes variable.
4.  Extract the first two rows of the heroes Series.
5.  Extract the last four rows of the heroes Series.
6.  Determine the number of unique values in your heroes Series.
7.  Calculate the average strength of the superheroes in heroes.
8.  Calculate the maximum and minimum strengths in heroes.
9.  Calculate what each superhero’s strength level would be if it doubled.
10. Convert the heroes Series to a Python dictionary.

# Solution

In [2]:
import pandas as pd
import numpy as np

<b>Use the list of superheroes to populate a new Series object.</b>

In [3]:
#Assigning new series variable "new_superheroes" & Using pd.Series to create our new series object.
new_superheroes = pd.Series(superheroes)
new_superheroes

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

<b>Use the tuple of strengths to populate a new Series object.<b/>

In [4]:
#Assigning new series variable "new_strengths" & Using pd.Series to create our new series object from the tuple of strengths.
new_strengths = pd.Series(strength_levels)
print(new_strengths)

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

<b>Create a Series with the superheroes as index labels and the strength levels as the values. Assign the Series to a heroes variable.<b/>

In [5]:
# Assigned a heroes variable. The index parameter passes superheroes list as index and data passes strength_levels tuple as the values
heroes = pd.Series(index = superheroes, data = strength_levels)
heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

<b>Extract the first two rows of the heroes Series.</b>

In [6]:
first2rows = heroes.iloc[:2]
first2rows

Batman      100
Superman    120
dtype: int64

<b>Extract the last four rows of the heroes Series.</b>

In [7]:
last4rows = heroes.iloc[2:]
last4rows

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [8]:
last4_rows = heroes.iloc[-4:]
last4_rows

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

<b>Determine the number of unique values in your heroes Series.</b>

In [9]:
heroes.unique()

array([100, 120,  90,  95, 110], dtype=int64)

In [10]:
unique_values = heroes.unique()
unique_values

array([100, 120,  90,  95, 110], dtype=int64)

<b>Average, Maximum and Minimum Values<b/>

In [11]:
heroes.mean()

105.83333333333333

In [12]:
average_strength = heroes.mean()
average_strength

105.83333333333333

In [13]:
heroes.min()

90

In [14]:
min_strength = heroes.min()
min_strength

90

In [15]:
heroes.max()

120

In [16]:
max_strength = heroes.max()
max_strength

120

<b>Calculate what each superhero’s strength level would be if it doubled.</b>

In [17]:
heroes * 2

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

<b>Convert the heroes Series to a Python dictionary.</b>

In [18]:
heroes_dictionary = heroes.to_dict()
heroes_dictionary

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}