In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('nfl.csv')

In [11]:
df.head(20)

                Name                  Team Position    Birthday    Salary
0       Tremon Smith   Philadelphia Eagles       RB   7/20/1996    570000
1     Shawn Williams    Cincinnati Bengals       SS   5/13/1991   3500000
2        Adam Butler  New England Patriots       DT   4/12/1994    645000
3        Derek Wolfe        Denver Broncos       DE   2/24/1990   8000000
4          Jake Ryan  Jacksonville Jaguars      OLB   2/27/1992   1000000
5    Ezekiel Elliott        Dallas Cowboys       RB   7/22/1995   3853137
6       John Jenkins        Miami Dolphins       DE   7/11/1989    805000
7     Andrew Wingard  Jacksonville Jaguars       FS   12/5/1996    495000
8         John Jerry    Cincinnati Bengals       OT   6/14/1986    930000
9       Matt Barkley         Buffalo Bills       QB    9/8/1990   1250000
10       Josh Harris       Atlanta Falcons       LS   4/27/1989    930000
11    Adarius Taylor      Cleveland Browns      OLB   9/21/1990   1350000
12   Olabisi Johnson     Minnesota Vikings       WR   3/17/1997    647500
13      Andrew Adams  Tampa Bay Buccaneers       SS  10/28/1992    720000
14      Forrest Lamp  Los Angeles Chargers        G   2/20/1994   1071084
15     Ryan Kerrigan   Washington Redskins      OLB   8/16/1988  10500000
16      Robert Davis   Philadelphia Eagles       WR    4/2/1995    570000
17       Kevin Byard      Tennessee Titans       FS   8/17/1993   2025000
18     Pat O'Donnell         Chicago Bears        P   2/22/1991   1250000
19  Barkevious Mingo        Houston Texans      OLB   10/4/1990   3400000

In [7]:
df.shape

(1655, 5)

In [9]:
df['Name'].value_counts().sum()

1655

In [13]:
df['Team'].unique()

array(['Philadelphia Eagles', 'Cincinnati Bengals',
       'New England Patriots', 'Denver Broncos', 'Jacksonville Jaguars',
       'Dallas Cowboys', 'Miami Dolphins', 'Buffalo Bills',
       'Atlanta Falcons', 'Cleveland Browns', 'Minnesota Vikings',
       'Tampa Bay Buccaneers', 'Los Angeles Chargers',
       'Washington Redskins', 'Tennessee Titans', 'Chicago Bears',
       'Houston Texans', 'Arizona Cardinals', 'Baltimore Ravens',
       'New Orleans Saints', 'Detroit Lions', 'Pittsburgh Steelers',
       'San Francisco 49Ers', 'New York Giants', 'New York Jets',
       'Green Bay Packers', 'Seattle Seahawks', 'Indianapolis Colts',
       'Carolina Panthers', 'Oakland Raiders', 'Los Angeles Rams',
       'Kansas City Chiefs'], dtype=object)