# Challenge 1. The Pandas Series object

Suppose that you’re given these two data structures:

In [1]:
superheroes = [
"Batman",
"Superman",
"Spider-Man",
"Iron Man",
"Captain America",
"Wonder Woman"
]
strength_levels = (100, 120, 90, 95, 110, 120)

## Here are your challenges:
1.  Use the list of superheroes to populate a new Series object.
2.  Use the tuple of strengths to populate a new Series object.
3.  Create a Series with the superheroes as index labels and the strength levels as the values. Assign the Series to a heroes variable.
4.  Extract the first two rows of the heroes Series.
5.  Extract the last four rows of the heroes Series.
6.  Determine the number of unique values in your heroes Series.
7.  Calculate the average strength of the superheroes in heroes.
8.  Calculate the maximum and minimum strengths in heroes.
9.  Calculate what each superhero’s strength level would be if it doubled.
10. Convert the heroes Series to a Python dictionary.

## Import libraries. In this case, we only need `pandas`

In [2]:
import pandas as pd

1.  Use the list of superheroes to populate a new Series object.

In [3]:
s = pd.Series(superheroes)

In [4]:
s

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

2.  Use the tuple of strengths to populate a new Series object.

In [5]:
s2 = pd.Series(strength_levels)

In [6]:
s2

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

3.  Create a Series with the superheroes as index labels and the strength levels as the values. Assign the Series to a heroes variable.

In [7]:
heroes = pd.Series(strength_levels, index=superheroes)

In [9]:
heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

4.  Extract the first two rows of the heroes Series.

In [10]:
heroes.iloc[:2]

Batman      100
Superman    120
dtype: int64

5.  Extract the last four rows of the heroes Series.

In [11]:
heroes.iloc[-4:]

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

6.  Determine the number of unique values in your heroes Series.

In [12]:
heroes.unique()

array([100, 120,  90,  95, 110])

7.  Calculate the average strength of the superheroes in heroes.

In [13]:
round(heroes.mean(), 2)  # round to 2 decimal positions

105.83

8.  Calculate the maximum and minimum strengths in heroes.

In [16]:
max_value, min_value = heroes.agg([max, min])
print(f'Maximum value: {max_value}, minimum value: {min_value}')

Maximum value: 120, minimum value: 90

9.  Calculate what each superhero’s strength level would be if it doubled.

In [17]:
heroes * 2

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

10. Convert the heroes Series to a Python dictionary.

In [18]:
heroes.to_dict()

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}